<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Gênero</th>
      <th scope="col">Preço (R$)</th>
    </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td> <%= movie.name %> </td>
      <td> <%= movie.genre.name %> </td>
      <td> <%= movie.price %> </td>
    </tr>
  <% end %>
  </tbody>
</table>